body {
  font-family: Arial;
  
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.columns {
  display: flex; 
  justify-content: space-between;
}

.point {
  opacity: 50%;
}

.setosa {
  fill: LightGreen;
  opacity: 50%;
}

.versicolor {
  fill: LightSalmon;
  opacity: 50%;
  
}

.virginica {
  fill: LightSkyBlue;
  opacity: 50%;
}

.selection {
  border-style: solid;
  stroke-width: 5px;
}